p.MuiTypography-root{
    font-family: 'Inter', sans-serif;
    color: var(--font-color);
    background-color: white;
}

span.css-8je8zh-MuiTouchRipple-root, span.css-w0pj6f{
    position: static;
}

.buttonQuiz{
    background-color: white;
}