.textFooter,strong,a>svg,a.linkFooter,div.boxFooter{
    text-align: center;
    background-color:var(--primary-color);
    color: var(--background-color);
}
.textFooter,strong,a.linkFooter,div.boxFooter{
    padding-top: 6px;
}

footer.footer{
    background-color: #0B1C97;
}

a.linkFooter{
    margin: 10px;
}
