.textFooter,strong,a>svg,a.linkFooter,div.boxFooter{
    text-align: center;
    background-color:var(--primary-color);
    color: var(--background-color);
    margin-top: 10px;
}

footer.footer{
    background-color: #0B1C97;
    bottom: 0;
}

a.linkFooter{
    margin: 10px;
}
a.linkFooter svg{
    color:var(--background-color);
}