@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --font-color: #191B37;
  --background-color: #E1DBBB;
  --primary-color: #0B1C97;
  --secondary-color: #2E3D67;
  --accent-color: #739890;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 .3125rem rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  -webkit-box-shadow: inset 0 0 .375rem rgba(0, 0, 0, 0.5);
}

.divMain{
  margin-top: 5.625rem;
}